.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.cart-quantity{
    display:inline-block;
}
.cart-item{
    width: 100px;
    height: 100px;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

img {
    width: 100%
}
/* NavBar */
#nav {
    color: white;
    background-color: #1c3151;
    border: 0px white;
    height: 75px;
    width: 101%;
    margin-bottom: 50px;
    margin-top: -5px;
    padding-top: 0px;
    border-bottom: white 1px;
    padding-right: 20px;
    box-shadow: 3px 3px 50px rgba(0,0,0, 0.3);
    position: fixed;
    z-index: 1;
}

#nav a {
    color: white;
    margin-top: 10px;
    font-size: 1.3em;
}

#search {
    margin-top: 17px;
}

#search-input {
    background: rgba(255, 255, 255, 0.2);
    color: white;
}

#search-btn {
    background: rgba(255, 255, 255, 0.6);
    margin-left: 5px;
    border-color: white;
    color: white;
}

#search-btn:hover {
    color: #1c3151;
    font-style: italic;
    background: rgba(255, 255, 255, 0.9)
}

#nav-logo {
    background: #1c3151;
    position: fixed;
    top: 0;
    left: 43%;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    border: 1px white;
    z-index: 2;
}

#nav-logo img {
    z-index: 100 !important;
    margin-top: 16px;
}

/* All products */

#all-products {
    color: #f2f2f2;
    margin: 150px 5%;

}

#product-tile a {
    background: rgba(255, 255, 255, 0.3);
    border: 0px;
    text-decoration: none;
    box-shadow: 3px 3px 50px rgba(0,0,0, 0.3);
}

#product-tile a:hover {
    background: rgba(255, 255, 255, 0.3);
    border: 0px;
    font-style: italic;
}

#product-tile a p{
    color: white;
}

#product-tile-title{
    font-size: 1.3em;
}

