.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}


@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

img {
    width: 100%
}

#nav {
    color: white;
    background-color: #2b4368;
    border: 0px white;
    height: 75px;
    width: 100%;
    margin-bottom: 50px;
    margin-top: -5px;
    padding-top: 0px;
    border-bottom: white 1px;
}

#nav a {
    color: white;
    margin-top: 10px;
    font-size: 1.3em;
}

#search {
    margin-top: 17px;
}

#search-input {
    background: rgba(255, 255, 255, 0.2);
    color: white;
}

#search-btn {
    background: rgba(255, 255, 255, 0.7);
    margin-left: 5px;
    border-color: white;
}

#nav-logo {
    background: #2b4368;
    position: absolute;
    top: 0;
    left: 43%;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    border: 1px white;
}

#nav-logo img {
    z-index: 100 !important;
}
